.container{
    max-width:400px;
}
body{
    background:rgb(238, 204, 204);
    letter-spacing:0.3em;
}
#span1{
    color: rgb(255, 71, 71);
    font-size:40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#span2{
    color:rgb(97, 4, 4);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#span3{
    color:white;
}
#cityName:active{
    border: None;
}